*/build/
*/.DS_Store
*/*.xcodeproj/*.pbxuser
*/*.xcodeproj/*.mode*
*/*.xcodeproj/xcuserdata*
*/*.xcodeproj/project.xcworkspace
*/*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/*
*/*/build/
*/*/.DS_Store
*/*/*.xcodeproj/*.pbxuser
*/*/*.xcodeproj/*.mode*
*/*/*.xcodeproj/xcuserdata*
*/*/*.xcodeproj/project.xcworkspace
*/*/*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/*
*/*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*/*.xcodeproj/xcuserdata/*.xcuserdatad/*
*/*.xcodeproj/xcuserdata/*.xcuserdatad/*
*/*/*.xcodeproj/xcuserdata/*.xcuserdatad/*
*~
*#
.arcconfig
